@import url(c:\Users\Acer\Desktop\New final project\fonts\font.css);
body {
  background-color: #f5ebdc;
  font-family: "alkarta";
}

body a {
  text-decoration: none;
}

body .Promocode__modal {
  background-color: rgb(128, 29, 29);
  position: absolute;
  width: 100%;
  z-index: 10000;
  height: 150px;
  bottom: 0px;
  display: none;
  top: 0px;
}

body .Promocode__modal #close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

body .Promocode__modal h1 {
  text-align: center;
  color: #502314;
}

body .Promocode__modal p {
  display: none;
  font-size: 15px;
}

body .Promocode__modal input {
  margin-top: 20px;
  width: 1200px;
  max-width: 100%;
}

body header {
  width: 100%;
  min-height: 210vh;
}

body header .container {
  max-width: 800px;
  margin: auto;
}

body header .container .content {
  cursor: pointer;
  gap: 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-padding-start: 24px;
  padding-inline-start: 24px;
}

body header .container .content i {
  font-size: 20px;
  padding: 10px;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
}

body header .container .content h2 {
  font-weight: 900;
  font-size: 20px;
  padding: 7px;
}

body header .container .All__menu__box {
  margin-top: 30px;
  background-color: white;
  padding-inline: 40px;
  border-radius: 10px;
}

body header .container .All__menu__box img {
  width: 150px;
  -o-object-fit: contain;
  object-fit: contain;
}

body header .container .All__menu__box h2 {
  color: #512416;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
  margin-top: 10px;
}

body header .container .All__menu__box p {
  padding: 20px;
  color: black;
  position: relative;
  top: -30px;
}

.sticky {
  z-index: 1000;
  background-color: #f5ebdc;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
}

footer {
  z-index: 1000;
  background-color: #f5ebdc;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

@media only screen and (max-width: 804px) {
  .All__menu__box h2 {
    font-size: 20px !important;
  }
  .All__menu__box p {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 592px) {
  .All__menu__box .corv {
    display: block !important;
  }
  .All__menu__box .corv h2 {
    font-size: 15px !important;
  }
  .All__menu__box .corv p {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 920px) {
  .myInPut {
    width: 500px !important;
    max-width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .myInPut {
    width: 300px !important;
    max-width: 100%;
  }
  #promo {
    font-size: 24px;
  }
  #gamochndi {
    font-size: 13px;
  }
}

@media only screen and (max-width: 610px) {
  .myInPut {
    width: 250px !important;
    max-width: 100%;
  }
  #promo {
    font-size: 22px;
  }
  #gamochndi {
    font-size: 10px;
  }
}
/*# sourceMappingURL=offersPage.css.map */
