.navbar {
    width: 100%;
    box-shadow: 2px 10px 10px -5px rgba(128,128,128,0.22);
    -webkit-box-shadow: 2px 10px 10px -5px rgba(128,128,128,0.22);
    -moz-box-shadow: 2px 10px 10px -5px rgba(128,128,128,0.22);
    padding-bottom: 10px;
    #logo {
        width: 50px;
        height: 20px;
        transition: all .3s;
        position: relative;
        left: 20px;
        &:hover  {
            box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
            -webkit-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
            -moz-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
        }
    }
    .navbar__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .left__navbar {
            #navbar__bars {
                font-size: 25px;
                margin-top: 15px;
                transition: all .3s;
                &:hover  {
                    box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -webkit-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -moz-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                }
            }
        }
        .right__navbar {
            .Sign__up {
                background-color: rgb(214, 35, 0);
                padding-top: 3px;
                padding-bottom: 3px;
                padding-inline: 13px;
                border-radius: 15px;
                border: none;
                transition: all .3s;
                &:hover  {
                    box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -webkit-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -moz-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                }
                a {
                    font-size: 12px;
                    color: white;
                }
            }
            .navbar__price {
                background-color: rgb(128, 38, 20);
                padding-top: 3px;
                padding-bottom: 3px;
                padding-inline: 13px;
                border-radius: 15px;
                border: none;
                transition: all .3s;
                &:hover  {
                    box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -webkit-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                    -moz-box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.22);
                }
                a {
                    font-size: 12px;
                    color: white;
                }
            }
            margin-top: 15px;
        }
    }
}

@import "../fonts/font.css"
